/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--font-main);
  font-style: normal;
  background-image: var(--bg-gradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--weight-page-main);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-top: 100px;
  margin-block-end: 100px;
  border: 2px solid var(--accent-color);
  padding: var(--header-padding-y) var(--header-padding-x);
  text-align: center;
  background-color: #fff;
  min-block-size: 368px;
}

.header__title {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: var(--font-size-title);
  text-transform: uppercase;
}

.header__subtitle {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: var(--font-size-subtitle);
  text-transform: uppercase;
}

.container {
  width: var(--container-width);
  margin: 0 auto;
}

.card {
  margin-block-end: 52px;
  border: 2px solid var(--accent-color);
  background-color: #fff;
}

.card__title {
  padding: 4px 10px;
  font-size: 18px;
  line-height: 1.2;
  font-variation-settings: 'wght' var(--weight-card-title);
}

.card__image-wrapper {
  position: relative;
  border-block: 2px solid var(--accent-color);
}

.card__image {
  display: block;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.card__label {
  position: absolute;
  opacity: var(--label-opacity);
  font-family: var(--font-accent);
  font-size: 14px;
  text-shadow:
    -1px 0 #fff,
    0 1px #fff,
    1px 0 #fff,
    0 -1px #fff;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {

  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
  }
}

.card__content {
  padding: 25px;
}

.card__text {
  margin-bottom: 25px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--weight-card-text);
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  padding: 20.5px 20px;
  overflow: hidden;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 1;
  background-color: var(--button-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  min-block-size: 38px;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.button:hover::before {
  background-color: var(--accent-color);
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__icon-button {
  align-items: center;
  width: 38px;
  height: 36px;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 38px;
  padding: 0;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-color);
  mix-blend-mode: difference;
}

.like-icon {
  display: block;
  width: 39px;
  height: 36px;
}

.dialog {
  display: none;
  width: 353px;
  border: 2px solid var(--accent-color);
  padding: 30px;
  background-color: #fff;
}

.dialog[open] {
  display: block;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  gap: 20px;
}

.dialog-icon {
  position: relative;
  z-index: 1;
  width: 39px;
  height: 39px;
  color: var(--accent-color);
}

.dialog__text {
  margin: 0;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  grid-column: 1 / -1;
  width: 100%;
  text-transform: uppercase;
}

.card__image--brightness {
  filter: brightness(140%);
}

.card__image--sepia {
  filter: sepia(0.7);
}

.card__image--grayscale {
  filter: grayscale(1);
}

.card__image--contrast {
  filter: contrast(200%);
}

.card__image--saturate {
  filter: saturate(150%);
}

.card__image--blur {
  filter: blur(2px);
}

.card__image--hue-rotate {
  filter: hue-rotate(65deg);
}

.card__image--contrast-brightness-saturate {
  filter: contrast(120%) brightness(140%) saturate(160%);
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 55px;
  margin-bottom: 100px;
  margin-inline: auto;
}

.save-button__icon {
  position: relative;
  z-index: 1;
  width: 21px;
  height: 21px;
  color: #fff;
  mix-blend-mode: difference;
}

.is-liked .like-icon .core,
.is-liked .like-icon .main-body {
  fill: var(--accent-color);
}

.is-liked .like-icon .contour {
  fill: var(--accent-color);
}

@media (width <= 375px) {

  .header {
    min-block-size: 327px;
  }

  .button {
    padding: 8px 12px;
  }

  .save-button {
    flex-direction: column;
    width: 100%;
    max-width: 306px;
    height: 84px;
  }

  .save-button__icon {
    width: 28px;
    height: 28px;
  }
}
