/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-main: 'Inter-Variable', sans-serif;
  --weight-card-title: 715;
  --weight-card-text: 410;
  --weight-page-main: 410;
  --font-accent: 'PressStart2P', 'fantasy';
  --font-size-title: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --font-size-subtitle: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --header-padding-y: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem);
  --header-padding-x: clamp(1rem, -1.3548rem - 10.0469vw, 7.6875rem);
  --bg-gradient:
    repeating-linear-gradient(
      0deg,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --container-width: clamp(375px, 49vw, 700px);
  --label-opacity: 0.5;
  --button-color: #fff;
  --accent-color: #000;
  --animation-fill-color: #f00;
  --fill-color-hover: #000;
  --line-height-text: 1.3125rem;
}
